html {
    scroll-behavior: smooth;
}

@keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
  
.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

main
{
    color:rgb(0,238,0);
    padding-top:3em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: rgb(0,11,0);
}

body
{
    background-color: rgb(25, 25, 30);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* width: 10vw; */
    height: 100vh;
  }

header
{
    font-family: 'Courier New', Courier, monospace;
    color:black;
    z-index:1;
    display:inline-block;
    background-color: rgb(0,238,0);
    position: fixed;
    width:calc(100% - 2em);
    text-align: end;
    padding:1em;
}

#terminal
{
    background-image: radial-gradient(
    rgba(0, 150, 0, 0.25), black 220%
    );  
    margin-left: auto;
    margin-right: auto;
    width:calc(100% - 16px);
    height:100%;
    position:fixed;
    border-radius:25px;
    box-shadow:0 0 0 24px rgb(25, 25, 30);
    top:12px;
    z-index: 2;
    pointer-events: none;
    font-family: 'Courier New', Courier, monospace;
    /* background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06)); */
}

a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    background-color: green;
    padding: 1px;
}
a
{
    color: black;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;
    letter-spacing: 0.12em;
    line-height: 1.3em;
}

h1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
}

h2
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
}

label
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    font-weight: bold;
}

input{
    color: rgb(0,238,0);
    border: 2px solid rgb(0,238,0);
    border-radius: 1em;
    background-color: rgb(0,11,0);
}